:root {
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--desaturated-blue);
}
.container {
  /* display: relative; */
  top: 50%;
  left: 50%;
  transform: translateY(50%);
  margin: 0 auto;
  width: 350px;
  /* height: 500px; */
  border-radius: 15px;
  background-color: white;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.hero {
  border-radius: 15px;
}

.hero img {
  max-width: 100%;
  border-radius: inherit;
  border-bottom-right-radius: initial;
  border-bottom-left-radius: initial;
}

.order {
  text-align: center;
}

.cost {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.price-plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button button {
  margin: 0 20px;
  box-shadow: 5px var(--dark-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
